{% if site.googleplus_user %}
<section class="googleplus{% if site.googleplus_hidden %} googleplus-hidden{% endif %}">
    <!-- Place this tag where you want the badge to render. -->
    <div class="g-plus" data-width="149" data-href="//plus.google.com/{{ site.googleplus_user }}" data-rel="author"></div>

    <!-- Place this tag after the last badge tag. -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
{% endif %}

